*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color:black;
    color: white;
    text-align: center;
    height :  4rem;
    line-height: 4rem;
}
.choices{
   margin-top: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.choice{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
 }

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.score{
    font-size: 3rem;
}

.mesageContainer{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    font-size: 3rem;
    display : inline;
    padding:1rem;
    border-radius: 1rem;
}